/* 
    Created on : 15-Jun-2014, 6:28:21 PM
    Author     : tonylee
*/
.liep {
    
        @import "tagging.less";
        @import "panel.less";
        @import "btn.less"; 
        @import "form.less";
        
        .liep-stream-items{
                li{
                        border: 1px solid;
                        float: left;
                        list-style: none outside none;
                        margin: 5%;
                        padding: 5%;
                        text-align: center;
        
                        a{
                                display: inline-block;
                                text-align: center;
                                padding: 5%;
                                white-space: nowrap;
                        }
                }
        }
        h1.page-title{
                line-height: normal;
        }
        .stream-single{
                article{
                        margin: 0;
                }
        }        
        .dl-horizontal{
                padding-top: 20px;
        }
        .dl-horizontal dt {
                clear: left;
                float: left;
                overflow: hidden;
                text-align: left;
                text-overflow: ellipsis;
                //white-space: nowrap;
                width: 100px;
                font-weight: 700;
                font-size: 12px;
        }
        .dl-horizontal dd {
                padding-left: 100px;
        }
        dt, dd {
                line-height: 1.42857;
                margin-bottom: 10px;
        }
        .no-list{
                list-style: none;
        }
        .extra-info{
                display: none;
        }
        .year-of-experience{
                font-size: 15px;
                line-height: normal;
                padding: 5px;
        }
        .stream-tags {
                text-align: right;        
                .tag-search-btn {
                        font-size: 15px;                        
                        margin-top: 10px;
                        padding: 2px 8px;
                }
        }               
        .candidate{
                .info{
                        float: left;
                        padding-top: 4px;
                }
                padding: 5px 15px !important;       
                background-color:#e4e4e4 !important;                
        }
        .actions{
                float: right;
                .btn{
                        padding: 2px 8px;
                }
        }
        .share {
                border-top: 1px dashed #ccc;
                clear: both;
                float: right;
                margin: 10px 0 0;
                padding-top: 10px;
                width: 100%;
                display: none;
        } 
        @font-face {
                font-family: 'FontAwesome';
                src: url('../fonts/fontawesome-webfont.eot?v=4.1.0');
                src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
                font-weight: normal;
                font-style: normal;
        }
        .fa {
                display: inline-block;
                font-family: FontAwesome;
                font-style: normal;
                font-weight: normal;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
        }        
        .fa-2x {
                font-size: 2em;
        }
        .fa-3x {
                font-size: 3em;
        }
        .fa-4x {
                font-size: 4em;
        }
        .fa-5x {
                font-size: 5em;
        }
        .fa-info:before {
                content: "\f129";
        }
        .fa-download:before {
                content: "\f019";
        }    
        .fa-print:before {
                content: "\f02f";
        }
        .fa-envelope:before {
                content: "\f0e0";
        }
        .spinner{
                background: url("../img/url.gif") no-repeat scroll center 1px transparent;
                display: inline-block;
                height: 15px;
                width: 15px;
                display: none;
        }
        #result-hit{
                display: none;
        }
        .view-more{ 
                text-align: center;
                padding:8px;
                font-size: 16px;
                .view-more-btn{ 
                        padding-left: 20px;
                        padding-right: 20px;
                        padding-top: 10px;
                        .btn-label{
                                vertical-align: top;
                        }
                }
        }
        .result-bg{
                background-color: #e4e4e4;
        }
        .query-tags {
                margin: 0 0 15px;
                padding: 0;            
                & > li{ 
                        background: none repeat scroll 0 center #dee7f8;
                        border: 1px solid #cad8f3;
                        border-radius: 6px;
                        font-weight: normal;          
                        display: inline;
                        list-style: none;
                        margin-right: 2px;
                        padding: 5px;
                }
        }
}