/* 
    Author     : tonylee
*/
        .panel {
                margin-bottom: 20px;
                background-color: #ffffff;
                border: 1px solid transparent;
                border-radius: 4px;
                -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        }
        .panel-body {
                padding: 15px;
        }
        .panel-heading {
                padding: 10px 15px;
                border-bottom: 1px solid transparent;
                border-top-right-radius: 3px;
                border-top-left-radius: 3px;
                float: left;
                width: 95%;  
        }
        .panel-title {
                margin-top: 0;
                margin-bottom: 0;
                font-size: 16px;
                color: inherit;
        }
        .panel-footer {
                padding: 10px 15px;
                background-color: #f5f5f5;
                border-top: 1px solid #dddddd;
                border-bottom-right-radius: 3px;
                border-bottom-left-radius: 3px;
        }
        .panel-default {
                border-color: #dddddd;
        }
        .panel-default > .panel-heading {
                color: #333333;
                background-color: #f5f5f5;
                border-color: #dddddd;
        }
        .panel-default > .panel-heading + .panel-collapse > .panel-body {
                border-top-color: #dddddd;
        }
        .panel-default > .panel-heading .badge {
                color: #f5f5f5;
                background-color: #333333;
        }
        .panel-default > .panel-footer + .panel-collapse > .panel-body {
                border-bottom-color: #dddddd;
        }
