/* 
    Author     : tonylee
*/

// Tag base style
ul.tagit {
        padding: 1px 5px;
        overflow: auto;
        margin-left: inherit; /* usually we don't want the regular ul margins. */
        margin-right: inherit;
        li {
            display: block;
            float: left;
            margin: 2px 5px 2px 0;
        }
        li.tagit-choice {    
            position: relative;
            line-height: inherit;
                a.tagit-label {
                        cursor: pointer;
                        text-decoration: none;
                }
                .tagit-close {
                        cursor: pointer;
                        position: absolute;
                        right: .1em;
                        top: 50%;
                        margin-top: -8px;
                        line-height: 17px;   

                        .text-icon {
                            display: none;
                        }                        
                }
                input {
                        display: block;
                        float: left;
                        margin: 2px 5px 2px 0;
                }
        }
        li.tagit-choice-read-only { 
            padding: .2em .5em .2em .5em; 
        } 

        li.tagit-choice-editable { 
            padding: .2em 18px .2em .5em; 
        } 

        li.tagit-new {
            padding: .25em 4px .25em 0;
        }

        input[type="text"] {
            -moz-box-sizing:    border-box;
            -webkit-box-sizing: border-box;
            box-sizing:         border-box;

            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;

            border: none;
            margin: 0;
            padding: 0;
            width: inherit;
            background-color: inherit;
            outline: none;
        }        
}
input.tagit-hidden-field {
    display: none;
}



//Tag theme style

ul.tagit {
        border-style: solid;
        border-width: 1px;
        border-color: #C6C6C6;
        background: inherit;
        li.tagit-choice {
                -moz-border-radius: 6px;
                border-radius: 6px;
                -webkit-border-radius: 6px;
                border: 1px solid #CAD8F3;
                background: none;
                background-color: #DEE7F8;
                font-weight: normal;

                .tagit-label:not(a) {
                        color: #555;
                }             
                a.tagit-close {
                        text-decoration: none;
                }    
                .tagit-close {
                        right: .4em;
                        .text-icon {
                                display: inline;
                                font-family: arial, sans-serif;
                                font-size: 16px;
                                line-height: 16px;
                                color: #777;
                        }
                }
                .ui-icon {
                          display: none;
                }
                a.tagLabel:hover,    
                a.tagit-close .text-icon:hover {
                        color: #222;
                }
        }
        li.tagit-choice:hover, 
        li.tagit-choice.remove {
                background-color: #bbcef1;
                border-color: #6d95e0;
        } 
        input[type="text"] {
                color: #333333;
                background: none;
        }                
}        
.ui-widget {
    font-size: 1.1em;
}

.tagit-autocomplete.ui-autocomplete { position: absolute; cursor: default; }
* html .tagit-autocomplete.ui-autocomplete { width:1px; }
.tagit-autocomplete.ui-menu {
        list-style:none;
        padding: 2px;
        margin: 0;
        display:block;
        float: left;
        .ui-menu {
                margin-top: -3px;
                .ui-menu-item{
                        a.ui-state-hover,
                        a.ui-state-active{
                                font-weight: normal;
                                margin: -1px;                                        
                        }
                }
        }
        .ui-menu-item {
                margin:0;
                padding: 0;
                zoom: 1;
                float: left;
                clear: left;
                width: 100%;
        }                
        .ui-menu-item a {
                text-decoration:none;
                display:block;
                padding:.2em .4em;
                line-height:1.5;
                zoom:1;
        }                
}        
.tagit-autocomplete.ui-widget-content { 
        border: 1px solid #aaaaaa; 
        background: #ffffff 50% 50% repeat-x; 
        color: #222222; 
}
.tagit-autocomplete.ui-corner-all, 
.tagit-autocomplete .ui-corner-all { 
        -moz-border-radius: 4px; 
        -webkit-border-radius: 4px; 
        -khtml-border-radius: 4px; 
        border-radius: 4px; 
}
.tagit-autocomplete{
        .ui-state-hover, 
        .ui-state-focus { 
                border: 1px solid #999999; 
                background: #dadada; 
                font-weight: normal; 
                color: #212121; 
        }                
        .ui-state-active  { 
                border: 1px solid #aaaaaa; 
        }
        .ui-widget-content { 
                border: 1px solid #aaaaaa; 
        }                
}
.tagit .ui-helper-hidden-accessible { 
        position: absolute !important; 
        clip: rect(1px,1px,1px,1px); 
}